HostSwitchV2/Service References/HostSwitchServer/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6792/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6792/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6792/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HostSwitchLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_BackDefaultHost_InputMessage">
    <wsdl:part name="parameters" element="tns:BackDefaultHost" />
  </wsdl:message>
  <wsdl:message name="IService1_BackDefaultHost_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackDefaultHostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteHostContent_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteHostContent" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteHostContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteHostContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadHostContent_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadHostContent" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadHostContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadHostContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateHostContent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHostContent" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateHostContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHostContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHostList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHostList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FileExists_InputMessage">
    <wsdl:part name="parameters" element="tns:FileExists" />
  </wsdl:message>
  <wsdl:message name="IService1_FileExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameHostContent_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameHostContent" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameHostContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameHostContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteHostContent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHostContent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteHostContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHostContentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="BackDefaultHost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BackDefaultHost" message="tns:IService1_BackDefaultHost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BackDefaultHostResponse" message="tns:IService1_BackDefaultHost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteHostContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WriteHostContent" message="tns:IService1_WriteHostContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WriteHostContentResponse" message="tns:IService1_WriteHostContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadHostContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadHostContent" message="tns:IService1_ReadHostContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadHostContentResponse" message="tns:IService1_ReadHostContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHostContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateHostContent" message="tns:IService1_CreateHostContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateHostContentResponse" message="tns:IService1_CreateHostContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHostList" message="tns:IService1_GetHostList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHostListResponse" message="tns:IService1_GetHostList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FileExists" message="tns:IService1_FileExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FileExistsResponse" message="tns:IService1_FileExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameHostContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RenameHostContent" message="tns:IService1_RenameHostContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RenameHostContentResponse" message="tns:IService1_RenameHostContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHostContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteHostContent" message="tns:IService1_DeleteHostContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteHostContentResponse" message="tns:IService1_DeleteHostContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BackDefaultHost">
      <soap:operation soapAction="http://tempuri.org/IService1/BackDefaultHost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteHostContent">
      <soap:operation soapAction="http://tempuri.org/IService1/WriteHostContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadHostContent">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadHostContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHostContent">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateHostContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHostList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <soap:operation soapAction="http://tempuri.org/IService1/FileExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameHostContent">
      <soap:operation soapAction="http://tempuri.org/IService1/RenameHostContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHostContent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteHostContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:6792/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>