HostSwitchLib/Service References/HostSwitchServer/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostSwitchLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostSwitchLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHostItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HostItem" nillable="true" type="tns:HostItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHostItem" nillable="true" type="tns:ArrayOfHostItem" />
  <xs:complexType name="HostItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostItem" nillable="true" type="tns:HostItem" />
</xs:schema>